<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/accesskey" method="post">
        <input type="hidden" id="userId" name="userId" value={{userId}}>
        <label for="prodkey">Product Key:</label><br>
        <input type="text" id="key" name="key"><br>
        <button type="submit">Pay</button>
    </form>
    {{#if message}}
        <h3 style="color: brown;">{{message}}</h3>
    {{/if}}
</body>
</html>